<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saksham portfolio</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet" />


    <link href="cdn/aos/aos.css" rel="stylesheet" />
    <link href="cdn/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="cdn/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="cdn/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="cdn/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="cdn/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.0/sweetalert.min.css" rel="stylesheet" type="text/css" />
   
   
    <link href="css/style.css" rel="stylesheet" />
</head>
<body>
    

        <div>
    
            <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
    
    
            <header id="header">
                <div class="d-flex flex-column">
    
                    <div class="profile">
                        <img src="img/sak.jpg" alt="" class="img-fluid rounded-circle" />
                        <h1 class="text-light"><a href="Portfolio.html">Saksham Wayadande</a></h1>
                        <div class="social-links mt-3 text-center">
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="https://www.instagram.com/saksham_wayadande_7?igsh=ZDhvZnd0ZXg5a2ly" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/saksham-wayadande-21a192316?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app " class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
    
                    <nav id="navbar" class="nav-menu navbar">
                        <ul>
                            <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i><span>Home</span></a></li>
                            <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i><span>About</span></a></li>
                            <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i><span>Resume</span></a></li>
                            <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i><span>Contact</span></a></li>
                        </ul>
                    </nav>
                </div>
            </header>
    
            <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
                <div class="hero-container" data-aos="fade-in">
                    <h1>Saksham Wayadande</h1>
                    <p>I'm <span class="typed" data-typed-items="Aspiring Web Developer., Android Developer"></span></p>
                </div>
            </section>
    
            <main id="main">
    
    
                <section id="about" class="about">
                    <div class="container">
    
                        <div class="section-title">
                            <h2>About</h2>
    
                        </div>
    
                        <div class="row">
                            <div class="col-lg-4" data-aos="fade-right">
    
                                <p style="box-sizing: border-box; font-family: 'Open Sans', sans-serif; font-size: 1rem; font-weight: bold; gap: 0.5rem">
                                    To Explore Opportunities With Challenging Environment As To Give My Best Utilizing My Calibre & Efficiency In A Best Way, Adding Some Values To My Work & Strive For Better Future......!
    
                                </p>
                            </div>
                            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                                <h3>Web Developer  &amp; Android.</h3>
    
                                <div class="row">
                                    <div class="col-lg-6">
                                        <ul>
                                            <li><i class="bi bi-chevron-right"></i><strong>City:</strong> <span>Kolhapur</span></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul>
                                            <br>
                                           <li><i class="bi bi-chevron-right"></i><strong>Email:</strong> <span>sakshamwayadande01@gmail.com</span></li>
                                        </ul>                                         
                                    </div>
                                </div>
                                <p>
                                </p>
                            </div>
                        </div>
    
                    </div>
                </section>

                
                <section id="skills" class="skills section-bg">
                    <div class="container">
    
                        <div class="section-title">
                            <h2>Skills</h2>
    
                        </div>
    
                        <div class="row skills-content">
    
                            <div class="col-lg-6" data-aos="fade-up">
    
                                <div class="progress">
                                    <span class="skill">HTML <i class="val"></i></span>
    
                                </div>
    
                                <div class="progress">
                                    <span class="skill">CSS <i class="val"></i></span>
    
                                </div>
    
                                <div class="progress">
                                    <span class="skill">JavaScript <i class="val"></i></span>
    
                                </div>
    
                                <div class="progress">
                                    <span class="skill">PHP <i class="val"></i></span>
    
                                </div>
    
                                <div class="progress">
                                    <span class="skill">BOOTSTRAP <i class="val"></i></span>
    
                                </div>
    
                                <div class="progress">
                                    <span class="skill">C <i class="val"></i></span>
    
                                </div>
                                <div class="progress">
                                    <span class="skill">C++<i class="val"></i></span>
    
                                </div>
                                <div class="progress">
                                    <span class="skill">JAVA<i class="val"></i></span>
    
                                </div>
                                <div class="progress">
                                    <span class="skill">PYTHON<i class="val"></i></span>
    
                                </div>
                                <div class="progress">
                                    <span class="skill">MOBILE APPLICATION DEVELOPEMENT<i class="val"></i></span>
    
                                </div>
    
                            </div>
    
    
                        </div>
    
                    </div>
                </section>
    
                <section id="resume" class="resume">
                    <div class="container">
    
                        <div class="section-title">
                            <h2>Resume</h2>
    
                        </div>
    
                        <div class="row">
                            <div class="col-lg-6" data-aos="fade-up">
                                <h3 class="resume-title">Sumary</h3>
                                <div class="resume-item pb-0">
                                    <h4><em>Saksham Wayadande</em></h4>
    
                                    <ul>
    
                                        
                                        <li><em>sakshamwayadande01@gmail.com</em></li>
                                    </ul>
                                </div>

                                <br />
    
                                <h3 class="resume-title">Education</h3>
                                <div class="resume-item">
                                    <h4>School</h4>
                                    <p><em>Hanumantrao Chate School, Kolhapur</em></p>
                                    <p><em>Completed The SSC </em></p>
                                    <br />
    
                                    <asp:Button ID="btnLink" runat="server" Text="Go to Page" CssClass="btn btn-success" OnClick="btnLink_Click" />
    
                                </div>
                                <div class="resume-item">
                                    <h4>Diploma in Computer Engineering</h4>
                                    <p><em>Ashokrao Mane Polytechnic, Vathar</em></p>
                                    <p><em>Completed The Diploma </em></p>
                                    <br />                                  
                                </div>

                                <br />

                                    <!-- Work experience -->
                                <h3 class="resume-title">Work Experience</h3>
                                <div class="resume-item">
                                    <h4>Web Developement</h4>
                                    <p><em>At Revolution It Solution. Kolhapur</em></p>
                                    <p><em>1.5 Industrial Training Are Done </em></p>
                                    <br />

                                    <button id="btnLink"  class="btn btn-success"><a href="revolution.html" style="color: white;">Go to page</a></button> 
                                
                                    
                                </div>


                                <br />

                                
                                <!-- personal projects -->
                                <h3 class="resume-title">Personal Projects</h3>
                                <div class="resume-item">
                                    <h4>School Website  (05/2023 - 06/2023)</h4>                                    
                                    <br />

                                    <button id="btnLink"  class="btn btn-success"><a href="school.html" style="color: white;">Go to page</a></button>
                                </div>
                                <div class="resume-item">
                                    <h4>Voice Calculator  (08/2023 - 09/2023)</h4>                                    
                                    <br />

                                    <button id="btnLink"  class="btn btn-success"><a href="voice.html" style="color: white;">Go to page</a></button> 
                                </div>

                                <br />


                                <!-- Certificates -->
                                <h3 class="resume-title">Certificates</h3>
                                <div class="resume-item">
                                    <h4>Certificate Of TCS Icon</h4> 
                                    <p><em>Communication Skills</em></p>
                                    <p><em>Interview Skills </em></p>    
                                    <p><em>Business Etiquette </em></p>    
                                    <p><em>Accounting Fundamentals </em></p>   
                                    <p><em>Overview Of Artificial Intelligence </em></p>                                    
                                    <br />

                                    <button id="btnLink"  class="btn btn-success"><a href="tcs.html" style="color: white;">Go to page</a></button>
                                     
                                </div>
                                <br>
                                <div class="resume-item">
                                    <h4>Certificate Of Linkedin Learning </h4>  
                                    <p><em>Generative AI Tool</em></p>
                                    <p><em>Artificial Intelligence </em></p>    
                                    <p><em>Generative AI </em></p>                                   
                                    <br />
                                   

                                    <button type="button"  class="btn btn-success"><a href="linkedin.html"  style="color: white;">Go to page</a></button> 
                                </div>


                                <br />

                                <!-- Languages -->
                                <h3 class="resume-title">Languages</h3>
                                <div class="resume-item">
                                    <h4>English</h4>   
                                </div>
                                <div class="resume-item">
                                    <h4>Hindi</h4>    
                                </div>
                                <div class="resume-item">
                                    <h4>Marathi</h4>                                    
                                    <br />
                                </div>
  



                            </div>
    
                        </div>
    
                    </div>
                </section>
    
    
    
    
    
                <section id="contact" class="contact">
                    <div class="container">
    
                        <div class="section-title">
                            <h2>Contact</h2>
    
                        </div>
    
                        <div class="row" data-aos="fade-in">
    
                            <div class="col-lg-5 d-flex align-items-stretch">
                                <div class="info">
                                    <div class="address">
                                        <i class="bi bi-geo-alt"></i>
                                        <h4>Location:</h4>
                                        <p>Kolhapur Rukadi pin- 416118</p>
                                    </div>
    
                                    <div class="email">
                                        <i class="bi bi-envelope"></i>
                                        <h4>Email:</h4>
                                        <p>sakshamwayadande01@gmail.com</p>
                                    </div>
    
    
                                    <iframe src="#" frameborder="0" style="border: 0; width: 100%; height: 290px;" allowfullscreen=""></iframe>
                                </div>
    
                            </div>
    
                            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                                  <div class="row">
                                    <div class="form-group col-md-6">
                                      <label for="name">Your Name</label>
                                      <input type="text" name="name" class="form-control" id="name" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="name">Your Email</label>
                                      <input type="email" class="form-control" name="email" id="email" required>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="name">Subject</label>
                                    <input type="text" class="form-control" name="subject" id="subject" required>
                                  </div>
                                  <div class="form-group">
                                    <label for="name">Message</label>
                                    <textarea class="form-control" name="message" rows="10" required></textarea>
                                  </div>
                                  <div class="my-3">
                                    <div class="loading">Loading</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">Your message has been sent. Thank you!</div>
                                  </div>
                                  <div class="text-center"><button type="submit">Send Message</button></div>
                                </form>
                              </div>
    
                        </div>
    
                    </div>
                </section>
    
            </main>
        </div>
    
    
    
    
    
    
        <footer id="footer">
            <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong><span>Portfolio</span></strong>
                </div>
                <div class="credits">
                    Develop by <b>Saksham Wayadande</b>
                </div>
            </div>
        </footer>
    
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    
        <script src="cdn/purecounter/purecounter_vanilla.js"></script>
        <script src="cdn/aos/aos.js"></script>
        <script src="cdn/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="cdn/glightbox/js/glightbox.min.js"></script>
        <script src="cdn/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="cdn/swiper/swiper-bundle.min.js"></script>
        <script src="cdn/typed.js/typed.umd.js"></script>
        <script src="cdn/waypoints/noframework.waypoints.js"></script>
        <script src="cdn/php-email-form/validate.js"></script>
    
        <script src="js/main.js"></script>
    
        <script>
            function valid() {
                var name = document.getElementById('<%= this.txtname.ClientID %>').value;
                var email = document.getElementById('<%= this.txtemail.ClientID %>').value;
                var phone = document.getElementById('<%= this.txtphone.ClientID %>').value;
                var message = document.getElementById('<%= this.txtmsg.ClientID %>').value;
    
                mobilecon = /^\d{10}$/;
                emailcon = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([com\co\.\in])+$/;
    
                if (name == "" || email == "" || phone == "" || message == "") {
                    /* swal("Please fill all details to proceed..!", "", "error");*/
                    alert("Enter all required filds...!")
                    return false;
                }
                if (phone != '') {
                    if (!phone.match(mobilecon)) {
                        alert("Enter Valid Phone ...!")
                        /*swal("Please Enter Valid Contact Number", "", "warning");*/
                        return false;
    
                    }
                }
                if (email != '') {
                    if (!email.match(emailcon)) {
                        alert("enter Valid Email ...!")
                        /* swal("Please Enter Valid Email-Id", "", "error");*/
                        return false;
                    }
                }
    
                return true;
            }
        </script>
    
    
</body>
</html>